@using Utils.Types
@using Views.Hardware
@model DataReviewProject.Models.MetaDataModels.HardwareMetaData
@{
    ViewData["Title"] = "Add Flight";
}

<h1>Add Hardware:</h1>
<hr />
<div>
    <form asp-controller="Hardware" asp-action="Create" method="post">
        <div class="form-group">
            <p>Type:</p>
            @foreach (StatusTypes item in Enum.GetValues(typeof(StatusTypes))){
                var name=TypeToDisplayString.StatusTypeMap[item];
                @Html.RadioButton(CreateViewKeyStrings.StatusType,item);
                <label for=@CreateViewKeyStrings.StatusType>@name</label><br>
            }
        </div>
        <div class="form-group">
            <label name=@CreateViewKeyStrings.Id class="control-label">Id</label>
            <input name=@CreateViewKeyStrings.Id class="form-control" />
        </div>
        <div class="form-group">
            <label name=@CreateViewKeyStrings.Name class="control-label">Name</label>
            <input name=@CreateViewKeyStrings.Name class="form-control" />
        </div>
        <div class="form-group">
            <label name=@CreateViewKeyStrings.Description class="control-label">Description</label>
            <input name=@CreateViewKeyStrings.Description class="form-control" />
        </div>
        <div class="form-group">
            <p>Type:</p>
            @foreach (HardwareTypes item in Enum.GetValues(typeof(HardwareTypes))){
                var name=TypeToDisplayString.HardwareTypeMap[item];
                <input type="radio" id=@name name=@CreateViewKeyStrings.HardwareType value=@item>
                <label for=@CreateViewKeyStrings.HardwareType>@name</label><br>
            }
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>