@using Utils.Types
@model DataReviewProject.Models.UAV
@{
    ViewData["Title"] = "Add UAV";
}

<h1>Add UAV:</h1>
<hr />
<div>
    <form asp-controller="Home" asp-action="Create" method="post">
        <div class="form-group">
            <p>Type:</p>
            @foreach (StatusTypes item in Enum.GetValues(typeof(StatusTypes))){
                @Html.RadioButtonFor(m => m.Status,item);
                <label asp-for="Status">@TypeToDisplayString.StatusTypeMap[item]</label><br>
            }
        </div>
        <div class="form-group">
            <label asp-for="Id" class="control-label">Id</label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>